@page "/products"
@using MyAwesomeShop.UI.BlazorServer.Data
@inject ProductService ProductService

<PageTitle>Products</PageTitle>

<h1>Products</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @if (products == null)
        {
            <div>Не завезли</div>
        }
        else
        {
            @foreach (var product in products.Items)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Price</td>
                </tr>
            }
        }
    </tbody>
</table>

@code {
    private PaginatedList<Product>? products;

    protected override async Task OnInitializedAsync()
    {
        products = await ProductService.GetProductsAsync();
    }
}
